.vacation-booking {
  background: linear-gradient(to bottom right, #ebf8ff, #ffffff, #cffafe);
  overflow: hidden;
  padding: 4rem 0;
}

.booking-card {
  max-width: 400px;
  margin: 0 auto;
}
.booking-card h3 {
  color: rgba(21, 44, 91, 1) !important;
  font-weight: 700;
}
.booking-card p {
  color:rgba(176, 176, 176, 1);
  font-weight: 500;
 
}
.card-title,.card-text{
  color: rgba(21, 44, 91, 1) !important;
  font-weight: 500 !important;
}
.btton_slect,.BOOTN_EXPLORE{
  background-color:  rgba(21, 44, 91, 1) !important;
  color: #fff;
}
.decrement{
background-color: rgba(231, 76, 60, 1) !important;
color: #fff;
}
.increment{
  background-color: rgba(26, 188, 156, 1) !important;
  color: #fff;
  
}




.custom-label {
  display: block;
  margin-bottom: 4px;
  color: #6b7280;
  font-size: 0.875rem;
}

.capacity-control {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.capacity-text {
  flex-grow: 1;
  text-align: center;
}

.btn-explore {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.btn-explore:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}