.icons-show .MuiImageListItemBar-titleWrap.MuiImageListItemBar-titleWrapBottom.MuiImageListItemBar-titleWrapActionPosRight.css-xn78qt-MuiImageListItemBar-titleWrap{

    display: none;
}
.MuiImageListItemBar-root.MuiImageListItemBar-positionBottom.MuiImageListItemBar-actionPositionRight.icons-show.css-112bi2w-MuiImageListItemBar-root{
    display: flex;
    justify-content: center;
    align-items: center;
}